In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
!pip install geopandas
!pip install plotly

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 12.8 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 76.7 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 58.1 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (5.5.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly) (8.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)

In [4]:
import geopandas  as gpd
import matplotlib.pyplot as plt
import plotly.express as px
import pandas as pd

##2022 dataset

In [46]:
shapefile_path = r"/content/drive/MyDrive/Task2/list/IBTrACS.ACTIVE.list.v04r00.lines.shp"
df1 = gpd.read_file(shapefile_path)

In [47]:
df1.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,USA_SEA_SW,USA_SEA_NW,STORM_SPD,STORM_DR,year,month,day,hour,min,geometry
0,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 12:00:00,NR,-13.10,113.80,...,None,None,13,259,2022,3,20,12,0,"LINESTRING (113.80005 -13.10000, 113.16235 -13..."
1,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 15:00:00,NR,-13.22,113.16,...,None,None,12,251,2022,3,20,15,0,"LINESTRING (113.16235 -13.22043, 112.59998 -13..."
2,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 18:00:00,NR,-13.50,112.60,...,None,None,13,230,2022,3,20,18,0,"LINESTRING (112.59998 -13.50000, 112.16272 -14..."
3,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 21:00:00,NR,-14.03,112.16,...,None,None,14,215,2022,3,20,21,0,"LINESTRING (112.16272 -14.02730, 111.80005 -14..."
4,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-21 00:00:00,NR,-14.60,111.80,...,None,None,12,217,2022,3,21,0,0,"LINESTRING (111.80005 -14.60000, 111.42725 -14..."

In [121]:
pd.api.types.is_numeric_dtype(df['NAME'])

False

In [41]:
drop_cols=[]

In [122]:
def handle_null_values(df):
    drop_cols=[]
    no_null = True
    for col in df.columns:
        null_cnt = df[col].isnull().sum()
        if 0<float(null_cnt)/ float(df.shape[0]) <0.1 and pd.api.types.is_numeric_dtype(df[col]):
            medi = df[col].median()
            df[col]= df[col].apply(lambda x : medi if x==None else x)
            #print(f"Replaced {null_cnt} values in {col} with median {medi}")
            no_null = False
        elif  null_cnt==0:
            no_null = no_null and True
        else:
            drop_cols.append(col)
    if no_null:
        print("No null values found")
    else:
        if len(drop_cols)>0:
            print("Dropped columns : {drop_cols}")
        else:
            print("No columns dropped")
    return (df.drop(columns=drop_cols,inplace= True),drop_cols)

In [105]:
def preprocess(df1):
  df1 = df1.set_geometry('geometry')
  handle_null_values(df1)
  #df1.drop(columns=drop_cols,inplace= True)
  df1.drop(columns = ['month','day','year','hour','min'],inplace = True)

In [109]:
preprocess(df1)

No columns dropped

In [52]:
df1.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,...,BOM_TNUM,BOM_CI,STORM_SPD,STORM_DR,year,month,day,hour,min,geometry
0,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 12:00:00,NR,-13.10,113.80,...,-999.9,-999.9,13,259,2022,3,20,12,0,"LINESTRING (113.80005 -13.10000, 113.16235 -13..."
1,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 15:00:00,NR,-13.22,113.16,...,-999.9,-999.9,12,251,2022,3,20,15,0,"LINESTRING (113.16235 -13.22043, 112.59998 -13..."
2,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 18:00:00,NR,-13.50,112.60,...,-999.9,-999.9,13,230,2022,3,20,18,0,"LINESTRING (112.59998 -13.50000, 112.16272 -14..."
3,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 21:00:00,NR,-14.03,112.16,...,-999.9,-999.9,14,215,2022,3,20,21,0,"LINESTRING (112.16272 -14.02730, 111.80005 -14..."
4,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-21 00:00:00,NR,-14.60,111.80,...,-999.9,-999.9,12,217,2022,3,21,0,0,"LINESTRING (111.80005 -14.60000, 111.42725 -14..."

In [84]:
df1.columns

Index(['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME',
       'NATURE', 'LAT', 'LON', 'TRACK_TYPE', 'DIST2LAND', 'LANDFALL', 'IFLAG',
       'USA_ATCFID', 'USA_LAT', 'USA_LON', 'USA_WIND', 'USA_PRES', 'USA_SSHS',
       'USA_POCI', 'USA_ROCI', 'USA_RMW', 'NEW_CI', 'REU_TNUM', 'REU_CI',
       'BOM_TNUM', 'BOM_CI', 'STORM_SPD', 'STORM_DR', 'year', 'month', 'day',
       'hour', 'min', 'geometry'],
      dtype='object')

##last 3 years dataset

In [54]:
shapefile_path = r"/content/drive/MyDrive/Task2/last3years/IBTrACS.last3years.list.v04r00.lines.shp"
df2 = gpd.read_file(shapefile_path)

In [123]:
preprocess(df2)

Dropped columns : {drop_cols}

In [60]:
df2.columns

Index(['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME',
       'NATURE', 'LAT', 'LON', 'TRACK_TYPE', 'DIST2LAND', 'LANDFALL', 'IFLAG',
       'USA_ATCFID', 'USA_LAT', 'USA_LON', 'USA_WIND', 'USA_PRES', 'USA_SSHS',
       'USA_POCI', 'USA_ROCI', 'USA_RMW', 'NEW_CI', 'REU_TNUM', 'REU_CI',
       'BOM_TNUM', 'BOM_CI', 'STORM_SPD', 'STORM_DR', 'year', 'month', 'day',
       'hour', 'min', 'geometry'],
      dtype='object')

##last 40 year dataset

In [62]:
shapefile_path = r"/content/drive/MyDrive/Task2/since1980/IBTrACS.since1980.list.v04r00.lines.shp"
df3 = gpd.read_file(shapefile_path)

In [124]:
preprocess(df3)

No null values found

In [68]:
df3.columns

Index(['SID', 'SEASON', 'NUMBER', 'BASIN', 'SUBBASIN', 'NAME', 'ISO_TIME',
       'NATURE', 'LAT', 'LON', 'TRACK_TYPE', 'DIST2LAND', 'LANDFALL', 'IFLAG',
       'USA_ATCFID', 'USA_LAT', 'USA_LON', 'USA_WIND', 'USA_PRES', 'USA_SSHS',
       'USA_POCI', 'USA_ROCI', 'USA_RMW', 'NEW_CI', 'REU_TNUM', 'REU_CI',
       'BOM_TNUM', 'BOM_CI', 'STORM_SPD', 'STORM_DR', 'year', 'month', 'day',
       'hour', 'min', 'geometry'],
      dtype='object')

Store the CSV

In [125]:
df1.to_csv(r"/content/drive/MyDrive/Task2/list.csv")

In [126]:
df2.to_csv(r"/content/drive/MyDrive/Task2/last3.csv")

In [127]:
df3.to_csv(r"/content/drive/MyDrive/Task2/last40.csv")

#ETL Operation

In [80]:
import glob 
import pandas as pd 
import xml.etree.ElementTree as ET 
from datetime import datetime

In [81]:
def extract_from_csv(file_to_process): 
    dataframe = pd.read_csv(file_to_process) 
    return dataframe

In [101]:
def extract():
      d=pd.DataFrame()
      for csvfile in glob.glob("/content/drive/MyDrive/Task2/*.csv"):
          d = d.append(extract_from_csv(csvfile), ignore_index=True)
      return d

In [83]:
def transform(df):
      df["Datetime"] = df['year'].astype(str) + '-' + df['month'].astype(str)+'-'+df['day'].astype(str)+' '+df['hour'].astype(str)+'-'+df['min'].astype(str)
      df['Datetime'] = pd.to_datetime(df['Datetime'], format="%Y-%m-%d %H-%M")
      return df

In [85]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

In [128]:
extracted_data = extract()

In [129]:
for csvfile in glob.glob("/content/drive/MyDrive/Task2/*.csv"):
  print(csvfile)

/content/drive/MyDrive/Task2/list.csv
/content/drive/MyDrive/Task2/last3.csv
/content/drive/MyDrive/Task2/last40.csv

In [130]:
transformed_data = transform(extracted_data)

In [131]:
transformed_data

,Unnamed: 0,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,...,BOM_CI,STORM_SPD,STORM_DR,year,month,day,hour,min,geometry,Datetime
0,0,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 12:00:00,NR,-13.10,...,-999.9,13,259,2022,3,20,12,0,LINESTRING (113.800048828125 -13.1000013351440...,2022-03-20 12:00:00
1,1,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 15:00:00,NR,-13.22,...,-999.9,12,251,2022,3,20,15,0,LINESTRING (113.162353515625 -13.2204332351684...,2022-03-20 15:00:00
2,2,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 18:00:00,NR,-13.50,...,-999.9,13,230,2022,3,20,18,0,LINESTRING (112.5999755859375 -13.499999046325...,2022-03-20 18:00:00
3,3,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-20 21:00:00,NR,-14.03,...,-999.9,14,215,2022,3,20,21,0,LINESTRING (112.1627197265625 -14.027301788330...,2022-03-20 21:00:00
4,4,2022080S13114,2022,18,SI,WA,CHARLOTTE,2022-03-21 00:00:00,NR,-14.60,...,-999.9,12,217,2022,3,21,0,0,LINESTRING (111.800048828125 -14.6000003814697...,2022-03-21 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294280,275786,2022083S13076,2022,19,SI,MM,HALIMA,2022-03-30 15:00:00,NR,-19.61,...,-999.9,3,44,2022,3,30,15,0,"LINESTRING (82.35498046875 -19.60733985900879,...",2022-03-30 15:00:00
294281,275787,2022083S13076,2022,19,SI,MM,HALIMA,2022-03-30 18:00:00,NR,-19.50,...,-999.9,5,65,2022,3,30,18,0,"LINESTRING (82.5 -19.5, 82.8402099609375 -19.3...",2022-03-30 18:00:00
294282,275788,2022083S13076,2022,19,SI,MM,HALIMA,2022-03-30 21:00:00,NR,-19.40,...,-999.9,8,75,2022,3,30,21,0,LINESTRING (82.8402099609375 -19.3978767395019...,2022-03-30 21:00:00
294283,275789,2022090N12109,2022,20,WP,MM,NOT_NAMED,2022-03-30 18:00:00,NR,12.30,...,-999.9,5,2,2022,3,30,18,0,LINESTRING (109.199951171875 12.30000114440918...,2022-03-30 18:00:00
294284,275790,2022090N12109,2022,20,WP,MM,NOT_NAMED,2022-03-30 21:00:00,NR,12.55,...,-999.9,5,2,2022,3,30,21,0,LINESTRING (109.199951171875 12.55000209808349...,2022-03-30 21:00:00

In [132]:
load("/content/drive/MyDrive/Task2/final.csv",transformed_data)

#Computing summaries and stats